<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h1>Sharing note <% @sharing.note_id %> with other user</h1>
  </div>
  <%= render 'form', sharing: @sharing, note_id: @sharing.note_id %>
  <div class="panel-footer">
    <%= link_to 'Sharing settings', note_sharings_path(@sharing.note_id), class: 'btn btn-default' %>
  </div>
</div>
