<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h1>New Tag</h1>
  </div>
  <%= render 'form', tag: @tag %>
  <div class="panel-footer">
    <%= link_to 'Back', tags_path %>
  </div>
</div>
